<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="ISO-8859-1">
	<title>Lector Voluntarios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title text-center">Formulario de Nombres</h5>
                </div>
                <div class="card-body">
                    <form th:action="@{/leerVoluntariosFromTxt}" method="post">
                        <div class="mb-3">
                            <label for="nombres" class="form-label">Ingrese los nombres de las personas (uno por línea):</label>
                            <textarea class="form-control" id="nombres" name="nombres" rows="5"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>