<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>Estatus De Voluntarios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.1/css/dataTables.dataTables.css" />

</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card">
                <div class="card-header">
                    Detalle de Modulo
                </div>
                <div class="card-body">
                    <p><strong>ID:</strong> <span th:text="${modulo.id}"></span></p>
                    <p><strong>Nombre de Modulo:</strong> <span th:text="${modulo.nombre}"></span></p>
                    <p><strong>Minimo de Actividades permitidas:</strong> <span th:text="${modulo.minimoActividades}"></span></p>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-header">
                    Listado de Voluntarios
                </div>
                <div class="card-body">
                    <table class="table" id="tablaStatusModulo">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>DNI</th>
                            <th>Horas </th>
                            <th> </th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="status : ${lstResponse}">
                                <td th:text="${status.voluntario.Id}"></td>
                                <td th:text="${status.voluntario.nombre}"></td>
                                <td th:text="${status.voluntario.dni}"></td>
                                <td th:text="${status.horas}"></td>
                                 <td>
                                    <a class="btn btn-primary" th:value="${status.voluntario.Id}" th:href="@{/info_voluntario/}+${status.voluntario.id}">Detalles</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!--Boostrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- DataTable -->
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

<script>
	$(document).ready( function () {
    	$('#tablaStatusModulo').DataTable();
	} );
</script>
</html>