<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Detalle de Actividad</title>	<title>Detalle de Actividad</title>
</head>
<body>
 	
<div class="container mt-5">
    <div class="row">
		<div class="col-md-10 offset-md-1">
			<a class="btn btn-primary mb-3" th:href="@{/dashboard_actividad}">Regresar</a>
			<a class="btn btn-secondary mb-3" th:href="@{/editar_actividad/}+${actividad.id}">Editar Actvidad</a> 
			<a  class="btn btn-secondary mb-3" th:if="${actividad.participante.size() >= 1}" th:href="@{/generar_constancia_actividad/}+${actividad.id}">Generar Constancias Modalidad Libre</a> 
        	<div class="card">
                <div class="card-header">
                    Detalle de Actividad
                </div>
                <div class="card-body">
                    <p><strong>ID:</strong> <span th:text="${actividad.id}"></span></p>
                    <p><strong>Nombre de Actividad:</strong> <span th:text="${actividad.nombreActividad}"></span></p>
                    <p><strong>Ubicación:</strong> <span th:text="${actividad.ubicacionActividad}"></span></p>
                    <p><strong>Fecha:</strong> <span th:text="${actividad.fechaActividad}"></span></p>
                    <p><strong>Hora de Inicio:</strong> <span th:text="${actividad.horaInicio}"></span></p>
                    <p><strong>Hora de Fin:</strong> <span th:text="${actividad.horaFin}"></span></p>
                    <p><strong>Estado:</strong> <span th:text="${actividad.estado} ? 'Activo' : 'Inactivo'"></span></p>
                    <p><strong>Duración:</strong> <span th:text="${actividad.obtenerDuracionActividad()}"></span> horas</p>
					<p th:if="${actividad.modulo != null}"><strong>Módulo:</strong> <span th:text="${actividad.modulo.nombre}"></span></p>
					<p th:if="${actividad.modulo == null}"><strong>Sin Módulo Asociado</strong></p>
                </div>
            </div>
        </div>
        <div class="col-md-10 offset-md-1">
			<div class="card mt-3">
                <div class="card-header">
                    Listado de Voluntarios
                </div>
                <div class="card-body">
					<table class="table">
					<thead>
						<tr>
							<th>DNI</th>
			                <th>Nombre</th>
			                <th>Apellido</th>
			                <th>Tipo de Participacion</th>
			                <th>Estado</th>
			                <th>Opciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="participante : ${actividad.participante}">
			                <td th:text="${participante.voluntario.dni}"></td>
			                <td th:text="${participante.voluntario.nombre}"></td>
			                <td th:text="${participante.voluntario.apellido}"></td>
			                <td th:text="${participante.tipoParticipacion.descripcionParticipacion}"></td>
			                <td th:text="${participante.isParticipant} ? 'Participo' : 'No Participó' "></td>
 							<td>
								<a th:href="@{/change_participacion/}+${participante.id}" class="btn btn-sm btn-secondary mb-1 mr-3">Cambiar Participación</a>
								<a th:href="@{/editar_voluntario_formParticipante/}+${participante.id}" class="btn btn-sm btn-secondary mb-1 mr-2">Editar Voluntario</a>
								<a th:href="@{/retirar_voluntario/}+${participante.id}" class="btn btn-sm btn-warning mb-1 mr-2">Retirar Voluntario</a>
 							</td>
							<!--Agregrar boton de generar constancia para todos y unitario , solo si la actividad es libre -->

		           		</tr>
		
					</tbody>
				</table>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" th:if="${actividad.participante.size() == 0}" onclick="mostrarInput()">Agregar Excel de Voluntario Libre</a>
                    <a class="btn btn-danger">Eliminar Todos</a>
                </div>
            </div>	
			<div class="card mt-3" id="inputContainer" style="display: none;">
                <div class="card-header">
               		Subir Excel
            	</div>
				<div class="card-body">		 
					<form th:action="@{/cargarExceltoActividad/}+${actividad.id}" method="post" enctype="multipart/form-data">
						<div class="mb-3">
							<label for="excelFile" class="form-label">Ingrese Archivo Excel:</label>
							<input type="file" class="form-control" name="excelFile" accept=".xlsx, .xls"  required>
						</div>
						<button type="submit" class="btn btn-primary" name="actionType" value="verEstado">Ver Estado</button>
						<button type="submit" class="btn btn-primary" name="actionType" value="insertarVoluntario">Insertar Voluntarios</button>
						<button type="button" class="btn btn-secondary ms-2" onclick="ocultarInput()">Cancelar</button>
					</form>
				</div>
            </div>
		</div>
        
        
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script>
    function mostrarInput() {
        document.getElementById('inputContainer').style.display = 'block';
    }

    function ocultarInput() {
        document.getElementById('inputContainer').style.display = 'none';
    }
</script>
</body>
</html>
